#study {
  .study {
    padding: 50px 0 100px 0;
    h1 {
      color: var(--text-212121, #212121);
      font-size: 48px;
      font-weight: 500;
    }
    &--line {
      width: 126px;
      height: 3px;
      border-radius: 2px;
      background: #6483F6;
    }

   &--title{
     display: flex;
     align-items: center;
     justify-content: space-between;
     &__right {
       padding-left: 55px;
       &--our {
         width: 370px;
         height: 370px;
         border: 3px solid var(--text-212121, #212121);
         opacity: 8;
         position: relative;

         &__img {
           position: absolute;
           top: 25px;
           right: 50px;
         }
       }
     }
     &__left {
       &--for {
         width: 563px;
         color: var(--text-1212, #010D39);
         font-size: 20px;
         font-weight: 500;
         line-height: 142.836%;
         padding: 30px 0 58px 0;
         span {
           color: #000;
           font-weight: 550;
         }
       }
      h5 {
        width: 579px;
        color: var(--text-1212, #070606);
        font-size: 20px;
        font-weight: 550;
        line-height: 182.836%;
      }
       p {
         width: 579px;
         color: var(--text-1212, #010D39);
         font-size: 20px;
         font-weight: 500;
         line-height: 182.836%;
       }
       &--btn {
         margin: 30px 0;
         color: #FDFDFD;
         text-align: center;
         font-size: 17px;
         font-weight: 500;
         display: flex;
         width: 209px;
         padding: 18px 72px 20px 72px;
         justify-content: center;
         align-items: center;
         border-radius: 80px;
         background: #109FEF;
       }
     }
   }
  }
}