#application {
  .application {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;


    &--right {
      display: flex;
      flex-direction: column;
      width: 692px;
      height: 578px;
      flex-shrink: 0;
      background: #FFF;
      box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);

      .inputs {
        width: 275px;
      }

      &__line {
        width: 30px;

      }

      h1 {
        color: var(--text-212121, #212121);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        padding: 50px 0 20px 30px;
      }

      &__name {
        display: flex;
        padding: 20px 30px;

      }

      &__email {
        display: flex;
        padding: 20px 30px;
      }

      &__group {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;

        &--com {
          border-bottom: 2px solid gray;
          width: 585px;
        }

        .block {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }

        textarea {
          border-bottom: 2px solid gray;
          width: 585px;
        }

        &--help {
          padding: 40px 0;
        }

        &--btn {
          color: #FFF;
          text-align: center;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          width: 209px;
          padding: 19px 73px 19px 72px;
          justify-content: center;
          align-items: center;
          border-radius: 80px;
          background: #109FEF;
          margin: 20px 0;
        }
      }
    }

    &--left {

      &__info {
        position: relative;
        display: flex;
        width: 448px;
        height: 595px;
        padding: 429px 0 200px 438px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        border: 1.6px solid #BBB;
        box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);

        &--line {
          width: 56px;
          height: 56px;
          flex-shrink: 0;
          margin-left: 10px;
          margin-bottom: 140px;
          border-radius: 50%;
          background: yellow;
        }

        &--main {

          width: 509px;
          height: 580px;
          flex-shrink: 0;
          background: rgba(86, 9, 187, 0.70);
          box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);
          position: absolute;
          top: 23px;
          right: 37px;

          &__block {
            padding: 30px 40px;

            h2 {
              color: #FFF;
              font-size: 24px;
              font-weight: 500;
            }

            &--phone {
              display: flex;
              align-items: center;
              padding: 20px 0;

              h3 {
                color: var(--3, #FFF);
                font-size: 22px;
                font-weight: 400;
                padding: 0 15px;
              }

              &__icon {
                font-size: 28px;
                color: white;
              }
            }

            &--email {
              display: flex;
              align-items: center;

              h3 {
                color: #FFF;
                font-size: 22px;
                font-weight: 400;
                padding: 0 15px;
              }

              &__icons {
                width: 34px;
                height: 26px;
                color: white;
              }
            }

            &--plane {
              display: flex;
              align-items: center;
              font-size: 34px;
              color: white;

              &__whatsapp {
                margin: 40px 40px;
              }

            }

            &--card {
              padding: 0 30px;
            }
          }
        }
      }

    }

    .detail {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 140;
      min-width: 100vw;
      min-height: 100vh;
      background: black;
      background: rgba(0, 0, 0, 0.8);

      &--open {
        &__none {
          display: flex;
          justify-content: end;
          padding-right: 20px;
          cursor: pointer;
        }

        display: flex;
        flex-direction: column;
        width: 580px;
        height: 520px;
        border-radius: 2px;
        background: #ffffff;

        &__name {
          h2 {
            text-align: center;
            font-weight: 600;
            font-size: 28px;
            color: #000;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            color: #000;
          }
        }

        &__phone {
          h2 {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__email {
          h2 {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__group {
          h2 {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__help {
          h2 {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }


      }
    }

    .send {
      display: flex;
      justify-content: end;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 140;
      min-width: 100vw;
      min-height: 100vh;
      background: black;
      background: rgba(0, 0, 0, 0.8);

      &--titles {
        margin-right: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 352px;
        height: 321px;
        border-radius: 2px;
        background: #ffffff;


        h1 {
          color: var(--text-212121, #212121);
          font-size: 22px;
          font-weight: 500;
        }

        p {
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-weight: 500;
          padding: 17px 0 27px 0;
        }

        &__apple {
          display: flex;
          align-items: center;

          &--whatsapp {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            margin: 0 30px;
          }

          &--instagram {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
          }

          &--facebook {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            margin: 0 30px;
          }

          &--telegram {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
          }
        }

        &__btn {
          margin-top: 50px;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          display: flex;
          width: 192px;
          padding: 17px 0 19px 0;
          justify-content: center;
          align-items: center;
          border-radius: 80px;
          background: #109FEF;
        }
      }
    }
  }
}
