#exams {
  padding: 90px 0;
  .exams {
    h1 {
      color: var(--text-212121, #212121);
      font-size: 48px;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
    }
    p {
      color: var(--text-1212, #010d39);
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 400;
      width: 670px;
      margin: 30px 0 60px 23%;
    }
    &--big {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__one {
        height: 610px;
        width: 506px;
        background: #fff;
        box-shadow: 5px 10px 24px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        img {
          border-radius: 10px 10px 0 0;
          width: 506px;
        }
        &--text {
          margin-left: 25px;
          h2 {
            color: #002ac0;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
          }
          h3 {
            color: #001254;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            margin: 14px 0;
          }
          h5 {
            color: #000;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 400;
            width: 400px;
          }
          h4 {
            color: #1aa2ee;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-top: 13px;
            cursor: pointer;
          }
        }
      }
      &__two {
        &--block {
          display: flex;
          align-items: center;
          // justify-content: center;
          width: 609px;
          height: 180px;
          border-radius: 8px;
          border: 1px solid #bbb;
          margin: 33px 0 35px 0;
          &__text {
            &--mini {
              width: 60px;
              height: 22px;
              border-radius: 4px;
              background: rgba(0, 117, 255, 0.15);
              display: flex;
              justify-content: center;
              h5 {
                color: #002ac0;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
              }
            }
            h3 {
              color: #001254;
              font-family: Montserrat, sans-serif;
              font-size: 18px;
              font-weight: 500;
              margin: 11px 0;
              width: 270px;
            }
            h2 {
              color: #010d39;
              font-family: Montserrat, sans-serif;
              font-size: 12px;
              font-weight: 400;
              width: 310px;
            }
            &--mini1 {
              width: 100px;
              height: 22px;
              border-radius: 4px;
              background: rgba(0, 117, 255, 0.15);
              display: flex;
              justify-content: center;
              h5 {
                color: #002ac0;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
              }
            }
            h3 {
              color: #001254;
              font-family: Montserrat, sans-serif;
              font-size: 18px;
              font-weight: 500;
            }
            h2 {
              color: #010d39;
              font-family: Montserrat, sans-serif;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  #exams {
    .exams {
      p {
        margin-left: 15%;
      }
      &--big {
        &__one {
          width: 400px;
          &--text {
            h5 {
              width: 360px;
            }
          }
        }
        &__two {
          &--block {
            width: 500px;
            &__text {
              h2 {
                width: 250px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #exams {
    .exams {
      p {
        margin-left: 10%;
      }
      &--big {
        &__one {
          width: 300px;
          &--text {
            h5 {
              width: 260px;
            }
          }
        }
        &__two {
          &--block {
            width: 420px;
            &__text {
              h3 {
                width: 180px;
                margin: 0;
              }
              h2 {
                width: 180px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #exams {
    .exams {
      p {
        margin-left: 3%;
      }
      &--big {
        display: block;
        &__one {
          margin-left: 15%;
          width: 506px;
          &--text {
            h5 {
              width: 400px;
            }
          }
        }
        &__two {
          margin-left: 7%;
          &--block {
            width: 609px;
            &__text {
              h3 {
                width: 270px;
                margin: 10px 0;
              }
              h2 {
                width: 310px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #exams {
    .exams {
      p {
        margin-left: -2%;
        width: 550px;
      }
      &--big {
        display: block;
        &__one {
          margin-left: 0;
          width: 506px;
        }
        &__two {
          margin-left: 0;
          &--block {
            width: 519px;
            &__text {
              h2 {
                width: 270px;
              }
              h3 {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 451px) {
  #exams {
    padding: 0;
    .exams {
      p {
        margin-left: 0;
        width: 400px;
      }
      &--big {
        display: block;
        &__one {
          margin-left: 0;
          width: 406px;
          h5 {
            width: 350px;
          }
        }
        &__two {
          margin-left: 0;
          &--block {
            img {
              width: 309px;
              height: 179px;
              margin-left: 10%;
              // padding: 15% 30%;
            }
            display: block;
            width: 400px;
            height: 330px;
            &__text {
              margin-left: 5%;
              h2 {
                width: 380px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #exams {
    .exams {
      p {
        width: 350px;
      }
      &--big {
        &__one {
          width: 356px;
          h5 {
            width: 283px;
          }
        }
        &__two {
          &--block {
            width: 356px;
            &__text {
              h2 {
                width: 320px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #exams {
    .exams {
      p {
        width: 320px;
      }
      h1 {
        font-size: 40px;
      }
      &--big {
        &__one {
          width: 328px;
          height: 542px;
          &--text {
            margin-left: 10px;
            h5 {
              width: 300px;
            }
          }
        }
        &__two {
          &--block {
            width: 330px;
            img {
              width: 289px;
            }
            &__text {
              h2 {
                width: 289px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #exams {
    .exams {
      h1 {
        font-size: 36px;
      }
      p {
        width: 268px;
      }
      &--big {
        &__one {
          width: 280px;
          height: 530px;
          &--text {
            margin-left: 10px;
            h5 {
              width: 250px;
            }
          }
        }
        &__two {
          &--block {
            img {
              margin: 0;
            }
            width: 280px;
            height: 350px;
            &__text {
              h2 {
                width: 250px;
              }
              h3 {
                width: 260px;
              }
            }
          }
        }
      }
    }
  }
}
