#from {
    padding: 60px 0;
  .from {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    &--title {
      gap: 10px;
      h1 {
        color: #212121;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        width: 520px;
      }
      p {
        padding: 40px 0 40px 0;
        color: var(--text-1212, #010d39);
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px; /* 183.333% */
        text-transform: capitalize;
        width: 539px;
      }
    }
    &--blocks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
      &__block {
        display: flex;
        width: 272px;
        height: 297px;
        padding: 47px 18px 69px 26px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #fff;
        box-shadow: 5px 8px 24px 0px rgba(0, 0, 0, 0.1);
        &--photo{
            transition: .4s;
            &:hover{
                transform: scale(1.03);
            }
        }
      }
    }
  }
}




@media (max-width: 1140px) {
  #from .from--title h1 {
    color: #212121;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 467px;
}
#from .from--title p {
  padding: 104px 0 40px 0;
  font-size: 19px;
  width: 420px;
}
#from .from--blocks__block {
  width: 205px;
  height: 277px;
  font-size: 15px;
}

}
@media (max-width: 1024px) {
  #from .from {
     display: flex; 
     flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 82px;
}
}
@media (max-width: 700px) {
  #from {
    padding: 320px 0;
  }
    #from .from--blocks__block--photo {
      width: 95%;
}
#from .from--title p {
    width: 90%;
}
#from .from--title h1 {
  font-size: 40px;
  width: 95%;
}
}
@media (max-width: 500px) {
#from {
    padding: 130px 0;
}
}

@media (max-width: 375px) {
  #from .from--blocks__block--photo {
    width: 93%;
  }
}

@media (max-width: 320px) {
  #exams .exams--big__two--block__text h3 {
    width: 280px;
  }
}
