#vienna{

  h1 {
    color: var(--text-212121, #212121);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    padding: 110px 0 50px 0;
  }
  .vienna {
    padding-bottom: 135px;

    .popular--pages {

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        .next {
          border-radius: 50%;
          padding: 5px 5px;
          font-size: 25px;
          color: #FFFFFF;
          margin: 0 20px;
        }
        .classic {
          padding: 10px 20px;
          background: #1aa2ee;
          color: white;

        }
      }
    }

    &--select {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-left: -45px;
      padding: 0 0 120px 0;
      select {
        outline: none;
        border: none;
        background: #fdfdfd;
        text-align: center;
        font-size: 17px;


        &--option {
          border: none;
          outline: none;
          padding: 0 0;
        }
      }

      .options {
        margin: 0 70px;
      }
    }
    &--linz {
      display: flex;
      width: 1240px;
      height: 196px;
      padding: 17px 119px 18px 37px;
      align-items: center;
      justify-content: space-between;
      gap: 61px;
      flex-shrink: 0;
      background: #FDFDFD;
      box-shadow: 0 0 24px 0 rgba(138, 138, 138, 0.91);
      margin: 30px 0;
      border-radius: 10px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
      }

      &__graz {
        display: flex;
        align-items: center;
        gap: 108px;
        img {
          width: 231px;
          height: 161px;
          border-radius: 10px;
          object-fit: cover;
        }

        &--name {

          h3 {
            color: var(--text-b-5-b-5-b-5, #B5B5B5);
            font-size: 20px;
            font-weight: 500;
            padding: 0 0 18px 0;
          }

          h2 {
            width: 320px;
            color: #1AA2EE;
            font-size: 28px;
            font-weight: 500;
          }
        }

        &--location {
          p {
            display: flex;
            color: #BBB;
            font-size: 20px;
            font-weight: 500;
            padding: 0 0 20px 0;
          }

          h2 {
            color: var(--text-212121, #212121);
            font-size: 20px;
            font-weight: 500;
          }
        }

        &--age {
          margin-left: 60px;
          p {
            color: #BBB;
            font-size: 20px;
            font-weight: 500;
            padding: 0 0 20px 0;
          }
          h2 {
            color: var(--text-212121, #212121);
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #vienna .vienna--linz {
    width: 1014px;
    padding: 17px 80px 18px 37px;
  }
  #vienna .vienna--linz .title {
    gap: 23px;
  }
}

@media (max-width: 1024px) {
  #vienna .vienna--linz {
    width: 911px;
    padding: 17px 5px 18px 17px;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 275px;
  }
}

@media (max-width: 992px) {
  #vienna .vienna--linz {
    width: 770px;
    padding: 17px 5px 18px 17px;
  }
  #vienna .vienna--linz__graz--age {
    display: none;
  }
}

@media (max-width: 768px) {
  #vienna .vienna--linz {
    width: 690px;
    padding: 17px -3px 18px 17px;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 191px;
    font-size: 23px;
  }
  }

@media (max-width: 576px) {
  #vienna .vienna--select {
    flex-wrap: wrap;
    gap: 35px;
  }
  #vienna .vienna--linz {
    width: 522px;
    height: 300px;
  }
  #vienna .vienna--linz .title {
    display: flex;
    flex-direction: column;
  }
  #vienna .vienna--linz__graz {
    gap: 34px;
  }
  #vienna .vienna--linz .title {
    align-items: baseline;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 170px;
  }
  #vienna .vienna--linz__graz img {
    width: 219px;
    height: 227px;
  }
  #vienna .vienna--select {
    flex-wrap: wrap;
    margin: 0 0 0 20px;
    gap: 35px;
  }
}

@media (max-width: 451px) {
  #vienna .vienna--linz {
    width: 401px;
    height: 318px;
  }
  #vienna .vienna--linz__graz img {
    width: 181px;
    height: 227px;
  }
}

@media (max-width: 400px) {
  #vienna .vienna--linz__graz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #vienna .vienna--linz {
    width: 354px;
    height: 318px;
  }
  #vienna .vienna--linz__graz img {
    width: 238px;
    height: 145px;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 316px;
  }
  #vienna .vienna--linz__graz {
    gap: 16px;
  }
  #vienna .vienna--linz {
    width: 354px;
    height: 411px;
  }
}

@media (max-width: 376px) {
  #vienna .vienna--linz {
    width: 336px;
    height: 411px;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 294px;
  }
}

@media (max-width: 320px) {
  #vienna .vienna--linz {
    width: 290px;
    height: 411px;
  }
  #vienna .vienna--linz__graz--name h2 {
    width: 250px;
  }

}