#header {
  box-shadow: 5px 8px 24px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-top: 9px solid #ff6a6a;
  position: sticky;
  top: 0;
  z-index: 98;
  right: 0;
  left: 0;
  background: #ffffff;


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;




      &--title {
        display: flex;
        &__nav {
          display: flex;
          gap: 60px;
          align-items: center;

          .search-wrap {
            display: flex;
            flex-direction: column;
            .search-content {
              display: flex;
              flex-direction: column;
              row-gap: 7px;
              background: #ffffff;
              border-radius: 8px;
              width: 203px;
              padding: 25px 0 15px 20px;
              position: absolute;
              top: 36px;
              height: auto;

              &_item {
                font-weight: 500;
                font-size: 16px;
                color: #212121;
              }
            }
          }

          .icon {
            color: gray;
          }

          .header--title__nav--item {
            position: relative;

            &:hover:after {
              content: '';
              position: absolute;
              opacity: 1;
              width: 8px;
              height: 8px;
              background: red;
              border-radius: 50%;
              bottom: -10px;
              left: 50%;
              transition: 6s ease-in-out;
            }

            &.active:before {
              content: '';
              position: absolute;
              opacity: 1;
              width: 8px;
              height: 8px;
              background: red;
              border-radius: 50%;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);

            }
          }

          &__inputs {
            border: 1px solid gray;
          }

          &--select {
            margin: 0 0 0 40px;
          }
        }
      }

    &--men{
      display: none;
      &__div{
        position: absolute;
        z-index: -1;
        margin-left: -107px;
        margin-top: -47px;
        width: 554px;
        height: 627px;
        border-radius: 20px;
        background: white;
        opacity: 0.9;
        transition: transform 0.4s ease-in-out;
        &--nav{

          &__navcolor {
            display: flex;
            padding: 30px 0;

            h5 {
              margin: 0 30px 0 0 ;
            }
          }

          &__navicons {
            display: flex;
            padding: 20px 0;
            &--locols {
              margin: 0 30px;
            }

            &--lol {
              margin: 0 30px;
            }

          }

          .h1{
            //margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: -20px;
                //top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h2{
            //margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: -20px;
                //top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h3{
            //margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: -20px;
                //top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h4{
            //margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 80px;
                //top: 50%;
                transform: translateY(-50%);
              }
            }
          }


        }
      }
    }


    }
  }

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }


}

@media (max-width: 1024px) {
  #header .header--title__nav {
    display: flex;
    gap: 45px;
    align-items: center;
  }

}

@media (max-width: 992px) {
  #header .header--title__nav {
    display: flex;
    gap: 22px;
    align-items: center;
  }
  .w-full {
    width: 85%;
  }
  #header .header--title__nav--select {
    margin: 0 0 0 -12px;
  }
}

@media (max-width: 768px) {
  #header .header--title__nav {
    display: none;
  }
  #header .header--title__nav--select {
    display: none;
  }
  #header {
      display: flex;
  }
  #header .header--men {
    display: block;
  }
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    top: 72%;
    right: 1%;
    width: 419px;
    height: 695px;
    border-radius: 20px;
    background: white;
    font-size: 35px;
  }
  #header .header--men__div--nav {
    margin-top: 59px;
    margin-left: 40px;
  }

}

@media (max-width: 576px) {
  #header .header--men__div--nav h4 {
    font-size: 29px;
  }
  #header .header--men__div--nav__navcolor h5 {
    margin: 0 30px 0 0;
    font-size: 29px;
  }
  #header .header--men__div {
    right: 0%;
    width: 403px;
    height: 682px;
  }
}

@media (max-width: 451px) {
  #header .header--men__div {
    right: 0%;
    width: 333px;
    height: 554px;
  }
  #header .header--men__div--nav h4 {
    font-size: 25px;
  }
  #header .header--men__div--nav__navcolor h5 {
    margin: 0 30px 0 0;
    font-size: 25px;
  }
}

