#header {
  box-shadow: 5px 8px 24px 0 rgba(0, 0, 0, 0.10);
  padding: 20px 0;
  border-top: 9px solid #FF6A6A;
  position: sticky;
  top: 0;
  z-index: 98;
  right: 0;
  left: 0;
  background: #FFFFFF;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      display: flex;
      gap: 60px;
      align-items: center;
      a{
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: red;
          border-radius: 50%;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
        &:focus:after {
          opacity: 1;
        }
        &:hover:after {
          opacity: 1;
        }
      }


      &__inputs {
        border: 1px solid gray;
      }

      &__select {
        margin: 0 0 0 40px;
      }
    }
  }
}