#header {
  box-shadow: 5px 8px 24px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-top: 9px solid #ff6a6a;
  position: sticky;
  top: 0;
  z-index: 98;
  right: 0;
  left: 0;
  background: #ffffff;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      display: flex;
      gap: 60px;
      align-items: center;



      &__item {
        position: relative;

        &:hover:after {
          content: '';
          position: absolute;
          opacity: 1;
          width: 8px;
          height: 8px;
          background: red;
          border-radius: 50%;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
        &.active:before{
          content: '';
          position: absolute;
          opacity: 1;
          width: 8px;
          height: 8px;
          background: red;
          border-radius: 50%;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__inputs {
        border: 1px solid gray;
      }

      &__select {
        margin: 0 0 0 40px;
      }
    }
      }

  .search--wrap {
    .search--content {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      background: #ffffff;
      border-radius: 8px;
      width: 203px;
      padding: 25px 0 15px 20px;
      position: absolute;
      top: 36px;

      &__item {
        font-weight: 500;
        font-size: 16px;
        color: #212121;
      }
    }
  }

    }

