#best {
  padding: 17% 0 40px 0;
  .best {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    &--img {
      width: 553px;
      height: 556px;
      border: 3px solid var(--text-212121, #212121);
      // opacity: 0.8;
      img {
        position: absolute;
        top: -105px;
        left: 60px;
        width: 600px;
      }
    }
    &--text {
      margin-top: -45px;
      h2 {
        color: #6483f6;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
      }
      h1 {
        color: #333;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 52px;
        font-weight: 500;
        line-height: 64px;
        margin: 15px 0 30px 0;
        width: 450px;
      }
      p {
        color: #333;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 12px;
        width: 470px;
      }
      h3 {
        color: rgba(51, 51, 51, 0.5);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        width: 450px;
      }
    }
  }
}
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #best {
    .best {
      &--img {
        width: 403px;
        height: 406px;

        img {
          width: 430px;
          top: -65px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #best {
    .best {
      &--img {
        width: 383px;
        height: 386px;

        img {
          width: 390px;
          top: -45px;
          left: 22px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #best {
    .best {
      &--img {
        width: 383px;
        height: 386px;

        img {
          width: 390px;
          top: -45px;
          left: 22px;
        }
      }
      &--text {
        margin-right: 20px;
        h1 {
          font-size: 25px;
          width: 200px;
          margin-bottom: 7px;
        }
        p {
          font-size: 17px;
          width: 290px;
        }
        h3 {
          font-size: 13px;
          width: 290px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #best {
    padding: 20% 0;
    .best {
      display: block;

      &--img {
        width: 553px;
        height: 556px;
        img {
          position: absolute;
          top: -105px;
          left: 60px;
          width: 600px;
        }
      }
      &--text {
        margin-top: 30px;
        h2 {
          font-size: 16px;
        }
        h1 {
          font-size: 52px;
          margin: 15px 0 30px 0;
          width: 450px;
        }
        p {
          font-size: 20px;
          width: 470px;
        }
        h3 {
          font-size: 16px;
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #best {
    .best {
      &--img {
        width: 423px;
        height: 426px;
        img {
          position: absolute;
          top: -90px;
          left: 40px;
          width: 480px;
        }
      }
    }
  }
}
@media (max-width: 451px) {
  #best {
    .best {
      &--img {
        width: 343px;
        height: 346px;
        img {
          position: absolute;
          top: -70px;
          left: 20px;
          width: 380px;
        }
      }
      &--text {
        margin-top: 30px;
        h2 {
          font-size: 16px;
        }
        h1 {
          font-size: 45px;
          margin: 15px 0 30px 0;
          width: 420px;
        }
        p {
          font-size: 20px;
          width: 400px;
        }
        h3 {
          font-size: 16px;
          width: 420px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #best {
    .best {
      &--img {
        width: 343px;
        height: 396px;
        img {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 340px;
        }
      }
      &--text {
        margin-top: 30px;
        h2 {
          font-size: 16px;
        }
        h1 {
          font-size: 37px;
          margin: 15px 0 30px 0;
          width: 350px;
        }
        p {
          font-size: 16px;
          width: 360px;
        }
        h3 {
          font-size: 13px;
          width: 380px;
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #best {
    .best {
      &--img {
        width: 323px;
        height: 366px;
        img {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 320px;
        }
      }
      &--text {
        margin-top: 30px;
        h2 {
          font-size: 16px;
        }
        h1 {
          font-size: 37px;
          margin: 15px 0 30px 0;
          width: 320px;
        }
        p {
          font-size: 16px;
          width: 320px;
        }
        h3 {
          font-size: 13px;
          width: 320px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #best {
    .best {
      &--img {
        width: 270px;
        height: 306px;
        img {
          position: absolute;
          top: 13px;
          left: 20px;
          width: 270px;
        }
      }
      &--text {
        margin-top: 30px;
        h2 {
          font-size: 16px;
        }
        h1 {
          font-size: 33px;
          margin: 15px 0 30px 0;
          width: 320px;
        }
        p {
          font-size: 16px;
          width: 290px;
        }
        h3 {
          font-size: 13px;
          width: 290px;
        }
      }
    }
  }
  #best .best--text h1 {
    font-size: 33px;
    margin: 15px 0 30px 0;
    width: 290px;
  }
}
