#contacts {
  .application {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;


    &--right {
      display: flex;
      flex-direction: column;
      width: 692px;
      height: 578px;
      flex-shrink: 0;
      background: #FFF;


      .inputs {
        width: 275px;
      }

      &__line {
        width: 30px;
      }

      h1 {
        color: var(--text-212121, #212121);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        padding: 50px 0 20px 30px;
      }

      &__name {
        display: flex;
        padding: 20px 30px;

      }

      &__email {
        display: flex;
        padding: 20px 30px;
      }

      &__group {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;

        &--com {
          border-bottom: 2px solid gray;
          width: 585px;
        }

        .block {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }

        textarea {
          border-bottom: 2px solid gray;
          width: 585px;
        }

        &--help {
          padding: 40px 0;
        }

        &--btn {
          color: #FFF;
          text-align: center;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          width: 209px;
          padding: 19px 73px 19px 72px;
          justify-content: center;
          align-items: center;
          border-radius: 80px;
          background: #109FEF;
          margin: 20px 0;
        }
      }
    }

    &--left {

      &__info {
        position: relative;
        display: flex;
        width: 448px;
        height: 595px;
        padding: 429px 0 200px 438px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        border: 1.6px solid #BBB;
        box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);

        &--line {
          width: 56px;
          height: 56px;
          flex-shrink: 0;
          margin-left: 10px;
          margin-bottom: 140px;
          border-radius: 50%;
          background: yellow;
        }

        &--main {

          width: 509px;
          height: 580px;
          flex-shrink: 0;
          background: rgba(86, 9, 187, 0.70);
          box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);
          position: absolute;
          top: 23px;
          right: 37px;

          &__block {
            padding: 30px 40px;

            h2 {
              color: #FFF;
              font-size: 24px;
              font-weight: 500;
            }

            &--phone {
              display: flex;
              align-items: center;
              padding: 20px 0;

              h3 {
                color: var(--3, #FFF);
                font-size: 22px;
                font-weight: 400;
                padding: 0 15px;
              }

              &__icon {
                font-size: 28px;
                color: white;
              }
            }

            &--email {
              display: flex;
              align-items: center;

              h3 {
                color: #FFF;
                font-size: 22px;
                font-weight: 400;
                padding: 0 15px;
              }

              h4 {
                font-size: 26px;
                width: 34px;
                height: 26px;
                color: white;
              }
            }

            &--plane {
              display: flex;
              align-items: center;
              font-size: 34px;
              color: white;

              &__whatsapp {
                margin: 40px 40px;
              }

            }

            &--card {
              padding: 0 30px;

              .iframe {
                width: 400px;
                height: 250px;
              }

            }
          }
        }
      }

    }

    .detail {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 140;
      min-width: 100vw;
      min-height: 100vh;
      background: black;
      background: rgba(0, 0, 0, 0.8);

      &--open {

        &__none {
          display: flex;
          justify-content: end;
          padding-right: 20px;
          cursor: pointer;
        }

        display: flex;
        flex-direction: column;
        width: 580px;
        height: 520px;
        border-radius: 2px;
        background: #ffffff;

        &__name {
          display: flex;
          align-items: start;
          padding: 0 0 0 50px;
          span {
            text-align: center;
            font-weight: 600;
            font-size: 28px;
            color: #000;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            color: #000;
          }
        }

        &__phone {
          display: flex;
          align-items: start;
          padding: 20px 0 20px 50px;
          span {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__email {
          display: flex;
          align-items: start;
          padding: 0 0 0 50px;
          span {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__group {
          display: flex;
          align-items: start;
          padding: 20px 0 20px 50px;
          span {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }

        &__help {
          display: flex;
          align-items: start;
          padding: 0 0 0 50px;
          span {
            text-align: center;
            font-weight: 600;
            color: #000;
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-weight: 400;
            color: #000;
            font-size: 24px;
          }
        }


      }
    }

    .send {
      display: flex;
      justify-content: end;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 140;
      min-width: 100vw;
      min-height: 100vh;
      background: black;
      background: rgba(0, 0, 0, 0.8);

      &--titles {
        margin-right: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 352px;
        height: 321px;
        border-radius: 2px;
        background: #ffffff;


        h1 {
          color: var(--text-212121, #212121);
          font-size: 22px;
          font-weight: 500;
        }

        p {
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-weight: 500;
          padding: 17px 0 27px 0;
        }

        &__apple {
          display: flex;
          align-items: center;

          &--whatsapp {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            margin: 0 30px;
          }

          &--instagram {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
          }

          &--facebook {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            margin: 0 30px;
          }

          &--telegram {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
          }
        }

        &__btn {
          margin-top: 50px;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          display: flex;
          width: 192px;
          padding: 17px 0 19px 0;
          justify-content: center;
          align-items: center;
          border-radius: 80px;
          background: #109FEF;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #contacts .application--right .inputs {
    width: 219px;
  }
  #contacts .application--right__group--com {
    width: 420px;
  }
  #contacts .application--right__group textarea {
    width: 420px;
  }
  #contacts .application--left__info--main {
    width: 476px;
    height: 530px;
    top: 33px;
  }
  #contacts .application--right {
    width: 510px;
    height: 529px;
  }
  #contacts .application--left__info--main__block--card {
    padding: 0 2px;
  }
  #contacts .application--left__info--main__block--card .iframe {
    width: 392px;
    height: 208px;
  }
  #contacts .application--left__info {
    padding: 429px 0 164px 438px;
  }
}

@media (max-width: 1024px) {
  #contacts .application--right {
    width: 458px;
    height: 525px;
  }
  #contacts .application--left__info {
    width: 373px;
    height: 595px;
    padding: 429px 0 137px 363px;
  }
  #contacts .application--left__info--main {
    width: 425px;
    height: 526px;
    top: 34px;
  }
  #contacts .application--left__info--main__block--card .iframe {
    width: 340px;
    height: 211px;
  }
  #contacts .application--left__info--main__block--card {
    padding: 0 3px;
  }
  #contacts .application--right .inputs {
    width: 161px;
  }
  #contacts .application--right__group--com {
    width: 350px;
  }
  #contacts .application--right__group textarea {
    width: 350px;
  }
  #contacts .application--right__group--btn {
    width: 176px;
    padding: 16px 92px 19px 57px;
  }
 #application .application--left__info--main__block--card{
  height: 219px;
  width: 354px;
}
}

@media (max-width: 992px) {
  #contacts .application--right {
    width: 385px;
    height: 525px;
  }
  #contacts .application--left__info {
    width: 324px;
    height: 595px;
    padding: 429px 0 137px 292px;
  }
  #contacts .application--left__info--main {
    width: 344px;
    height: 526px;
    top: 34px;
  }
  #contacts .application--left__info--main__block--card .iframe {
    width: 273px;
    height: 211px;
  }
  #contacts .application--right .inputs {
    width: 134px;
  }
  #contacts .application--right__group--com {
    width: 295px;
  }
  #contacts .application--right__group textarea {
    width: 295px;
  }
  #contacts .application--right__group .block {
    margin-right: 25px;
  }
  #contacts .application--left__info--main__block h2 {
    font-size: 22px;
  }
  #contacts .application--left__info--main__block--phone__icon {
    font-size: 24px;
  }
  #contacts .application--left__info--main__block--phone h3 {
    font-size: 20px;
  }
  #contacts .application--left__info--main__block--email h3 {
    font-size: 18px;
    padding: 0 22px;
  }
  #contacts .application--left__info--line {
    width: 53px;
    height: 58px;
    margin-left: 29px;
    margin-bottom: 160px;
  }
  #contacts .application--left__info--main__block--email h4 {
    font-size: 20px;
  }
  #application .application--left__info--main__block--card{
    height: 233px;
    width: 282px;
  }

}

@media (max-width: 768px) {
  #contacts {
    .application {
      display: flex;
      flex-direction: column;
    }
  }
  #contacts .application--right {
    width: 692px;
    height: 540px;
    margin-bottom: 80px;
  }
  #contacts .application--right .inputs {
    width: 280px;
  }
  #contacts .application--right__group--com {
    width: 590px;
  }
  #contacts .application--right__group textarea {
    width: 590px;
  }
  #contacts .application--right__group--btn {
    /* width: 176px; */
    /* padding: 16px 92px 19px 57px; */
  }
  #contacts .application--right__group--btn {
    width: 215px;
    padding: 22px 73px 22px 72px;
  }
  #contacts .application--left__info {
    /* padding: 429px 0 164px 438px; */
  }

  #contacts .application--left__info {
    width: 620px;
    height: 595px;
    padding: 429px 0 228px 512px;
    margin-left: 72px;
  }
  #contacts .application--left__info--line {
    margin-left: 105px;
    margin-bottom: 112px;
  }
  #contacts .application--left__info--main {
    width: 509px;
    height: 580px;
  }
  #contacts .application--left__info--main {
    width: 558px;
    height: 557px;
  }
  #contacts .application--left__info--main {
    width: 614px;
    height: 598px;
    right: 70px;
  }
  #contacts .application--left__info--main__block h2 {
    font-size: 32px;
  }
  #contacts .application--left__info--main__block--phone__icon {
    font-size: 30px;
  }
  #contacts .application--left__info--main__block--phone h3 {
    font-size: 24px;
  }
  #contacts .application--left__info--main__block--email h4 {
    font-size: 28px;
  }
  #contacts .application--left__info--main__block--email h3 {
    font-size: 24px;
    padding: 0 22px;
  }
  #contacts .application--left__info--main__block--plane__whatsapp {
    margin: 40px 61px;
  }
  #contacts .application--left__info--main__block--card .iframe {
    width: 527px;
    height: 270px;
  }
  #contacts .application .detail--open {
    width: 508px;
    height: 465px;
  }
  #contacts .application .detail--open span {
    font-size: 25px;
  }
  #contacts .application .detail--open h3 {
    font-size: 22px;
  }
  #application .application--left__info--main__block--card{
    height: 274px;
    width: 534px;
  }
}

@media (max-width: 576px) {
  #contacts .application--right {
    width: 498px;
    height: 540px;
    margin-bottom: 80px;
  }
  #contacts .application--right__group--com {
    width: 417px;
  }
  #contacts .application--right__group textarea {
    width: 425px;
  }
  #contacts .application--left__info {
    /* padding: 429px 0 164px 438px; */
    width: 458px;
    height: 595px;
    padding: 398px 0 264px 405px;
    margin-left: 43px;
  }
  #contacts .application--left__info--main {
    width: 433px;
    height: 598px;
    right: 70px;
  }
  .figa {
    width: 348px;
    height: 273px;
  }
  #contacts .application--left__info--line {
    margin-left: 50px;
    margin-bottom: 112px;
  }
  #contacts .application .detail--open__none {
    margin-bottom: -24px;
  }
  #contacts .application .detail--open {
    width: 421px;
    height: 524px;
  }
  #application .application--left__info--main__block--card{
    height: 274px;
    width: 361px;
  }
}

@media (max-width: 451px) {
  #contacts .application--right {
    width: 400px;
    height: 540px;
    margin-bottom: 80px;
  }
  #contacts .application--right__name {
    display: flex;
    padding: 27px 30px;
    flex-direction: column;
  }
  #contacts .application--right .inputs {
    width: 328px;
    margin-bottom: 37px;
  }
  #contacts .application--right__email {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }
  #contacts .application--right {
    height: 724px;
  }
  #contacts .application--right__group--com {
    width: 327px;
  }
  #contacts .application--right__group textarea {
    width: 327px;
  }
  #contacts .application--left__info {
    width: 260px;
    padding: 398px 0 264px 351px;
  }
  #contacts .application--left__info--main {
    width: 355px;
    height: 598px;
    right: 39px;
  }
  #contacts .application--left__info--main__block--phone h3 {
    font-size: 22px;
  }
  #contacts .application--left__info--main__block--email h3 {
    font-size: 17px;
    padding: 0 22px;
  }
  .figa {
    height: 287px;
    width: 295px;
  }
  #contacts .application--left__info--line {
    margin-left: -14px;
    margin-bottom: 111px;
  }
  #contacts .application .detail--open {
    width: 351px;
    height: 524px;
  }
  #contacts .application .detail--open__name {
    padding: 0;
  }
  #contacts .application .detail--open__email {
    padding: 0 0 0 31px;
  }
  #contacts .application .detail--open__group {
    padding: 20px 0 20px 8px;
  }
  #contacts .application .detail--open__help {
    padding: 0;
  }
}

@media (max-width: 400px) {
  #contacts .application--right {
    width: 352px;
  }
  #contacts .application--right .inputs {
    width: 291px;
    margin-bottom: 37px;
  }
  #contacts .application--right__group--com {
    width: 293px;
  }
  #contacts .application--right__group textarea {
    width: 289px;
  }
  #contacts .application--left__info {
    width: 138px;
    padding: 398px 0 201px 299px;
  }
  #contacts .application--left__info--main {
    width: 303px;
    height: 546px;
    right: 39px;
  }
  #contacts .application--left__info--main__block h2 {
    font-size: 29px;
  }
  #contacts .application--left__info--main__block--phone h3 {
    font-size: 18px;
  }
  #contacts .application--left__info--main__block--phone__icon {
    font-size: 28px;
  }
  #contacts .application--left__info--main__block--email h4 {
    font-size: 28px;
  }
  #contacts .application--left__info--main__block--email h3 {
    font-size: 16px;
    padding: 0 11px;
  }
  #contacts .application--left__info--main__block--plane__whatsapp {
    margin: 38px 45px;
  }
  .figa {
    height: 247px;
    width: 241px;
  }
  #contacts .application .detail--open__phone {
    padding: 20px 0 20px 23px;
  }
  #contacts .application--left__info--line {
    margin-left: -10px;
    margin-bottom: 112px;
  }
}

@media (max-width: 375px) {
  #contacts .application--right {
    width: 312px;
  }
  #contacts .application--right .inputs {
    width: 284px;
    margin-bottom: 37px;
  }
  #contacts .application--right__group--com {
    width: 280px;
  }
  #contacts .application--right__group textarea {
    width: 280px;
  }
  #contacts .application--right__group--btn {
    width: 176px;
    padding: 14px 71px 22px 53px;
  }
  #contacts .application--left__info--line {
    margin-left: -313px;
    margin-bottom: -244px;
  }
  #contacts .application--left__info {
    width: 138px;
    padding: 398px 0 207px 271px;
  }
  #contacts .application--left__info--main {
    width: 303px;
    height: 546px;
    right: 20px;
  }
  #contacts .application--right .inputs {
    width: 258px;
    margin-bottom: 37px;
  }
  #contacts .application--right__group--com {
    width: 253px;
  }
  #contacts .application--right__group textarea {
    width: 252px;
  }
  #contacts .application--right h1 {
    font-size: 22px;
  }
  #contacts .application--left__info--line {
    margin-left: -335px;
    margin-bottom: -242px;
  }
}

@media (max-width: 320px) {
  #contacts .application--left__info {
    width: 105px;
    padding: 392px 0 207px 233px;
  }
  #contacts .application--right h1 {
    font-size: 22px;
    width: 219px;
  }
  #contacts .application--left__info--main {
    width: 254px;
  }
  #contacts .application--left__info--main__block h2 {
    font-size: 27px;
  }
  #contacts .application--left__info--main__block {
    padding: 30px 17px;
  }
  #contacts .application--left__info--main__block--phone h3 {
    font-size: 15px;
  }
  #contacts .application--left__info--main__block--email h4 {
    font-size: 20px;
  }
  #contacts .application--left__info--main__block--email h3 {
    font-size: 14px;
    padding: 0 10px;
  }
  #contacts .application--left__info--main__block--plane {
    font-size: 30px;
  }
  #contacts .application--left__info--main__block--phone__icon {
    font-size: 24px;
  }
#contacts .figa {
  height: 247px;
  width: 215px;
}
  #contacts .application--left__info--line {
    margin-left: -282px;
    margin-bottom: -248px;
  }
}