#slider {
  padding: 40px 0;
  .slider {
    h1 {
      color: var(--text-212121, #212121);
      font-size: 44px;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
      margin: 100px 0;
    }

    .you {
      margin: 0 -7% 0 -7%;
    }
  }
}
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #slider {
    .slider {
      .you {
        margin: 0 -4% 0 -4%;
        iframe {
          width: 390px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #slider {
    .slider {
      .you {
        margin: 0 -2% 0 -2%;
        iframe {
          width: 365px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #slider {
    .slider {
      .you {
        margin: 0 -10% 0 -10%;
        iframe {
          width: 330px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #slider {
    .slider {
      .you {
        margin: 0 -2% 0 -2%;
        &--video {
          iframe {
            width: 280px;
            height: 220px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #slider {
    .slider {
      h1{
        font-size: 36px;
      }
      .you {
        margin: 0 0 0 0;
        &--video {
          iframe {
            width: 196px;
            height: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 451px) {
  #slider {
    .slider {
      .you {
        margin: 0 0 0 0;
        &--video {
          iframe {
            width: 155px;
            height: 150px;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #slider {
    .slider {
      h1{
        font-size: 32px;
      }
      .you {
        margin: 0 0 0 0;
        &--video {
          iframe {
            width: 135px;
            height: 150px;
          }
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #slider {
    .slider {
      .you {
        margin: 0 0 0 0;
        &--video {
          iframe {
            width: 130px;
            height: 150px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #slider {
    .slider {
      h1{
        font-size: 26px;
      }
      .you {
        margin: 0 0 0 0;
        &--video {
          iframe {
            width: 110px;
            height: 130px;
          }
        }
      }
    }
  }
}
